<div class="modal fade" id="modal_alert" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title"></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button> 
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"></button>
        </div>
    </div>
  </div>
</div>
  