  {% load widget_tweaks %}

  <form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
      <h3 class="modal-title">Добавленить технологию</h3>
      
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button> 
    </div>
    

    <div class="modal-body">

      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>

      {% for field in form %}
        {% if not field.is_hidden %}
          <div class="form-group">
            <label class="ml-1" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field class="form-control" %}
            <div class="mt-2 {% if field.errors %} invalid{% endif %}">
              {% for error in field.errors %}
                <p class="alert alert-warning">{{ error }}</p>
              {% endfor %}
            </div>
          </div>
        {% else %}
        {{ field }}
        {% endif %}
      
      {% endfor %}
    </div>
    <div id="meta"></div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Создать</button>
    </div>

</form>

<script>
  if ( $("#id_airlines"))
    $("#id_airlines").bsMultiSelect(); 
  if ( $("#id_airplane"))
    $("#id_airplane").bsMultiSelect(); 
  if ( $("#id_typeflightcountry"))
    $("#id_typeflightcountry").bsMultiSelect(); 
</script>