{% load widget_tweaks %}
{% load user_tags %}

<div class="h4 ml-2 mt-2 bg-white rounded border p-4">
    Изменить пароль
    <form class="form-inline my-2 my-lg-0" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            {% for field in form_password_change %}
                <div class="row">
                    <div class="col m-2">
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            {% render_field field class="form-control mr-sm-2" placeholder=field.label %}
                            {% for error in field.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>  
                    </div>
                </div>  
            {% endfor %}
            
            <div class="row">
                <div class="col">
                    {% button_submit_confirmation 'Сменить пароль' %}
                </div>
            </div> 
        </div>
    </form>
</div>
