{% extends "user/profile/profile_base.html" %}
{% load tgo_tags %}
{% load user_tags %}

{% block list %}
    <script>
        var data = {
            rows: [
                {% for entry in row_field_checked %}
                {
                    office: "{{ entry.office }}",
                    post: "{{ entry.post }}",
                    fio: "{{ entry.fio }}",
                    date_start: "{{ entry.date_start }}",
                    length_time: "{{ entry.length_time }}",
                    date_end: "{{ entry.date_end }}",
                },
                {% endfor %}
            ]
        };
    </script>

    <div hidden class="modify_column">{{modify_column}}</div>
    <input hidden class="filed_name_input" value={{field_name}}>

    <a class="btn btn-outline-primary" href={% url 'user:import-snj-detail' import_id %}>Назад</a>

    {% csrf_token %}
    <div class="container mt-4 rounded">
        <div class="p4 h3 m-2 mt-3 text-center">
            Проверка данных в столбце "{{ field_name }}"         
            <button class="btn btn-primary calculate_date mr-3">Расчитать значения</button>
        </div>

        <table id="data-table-date" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="column2">Подразделение</th>
                    <th class="column3">Должность</th>
                    <th class="column4">ФИО</th>
                    <th class="column2">Начало</th>
                    <th class="column3">Продолжительность</th>
                    <th class="column4">Окончание</th>
                    <th class="column7">Действия</th>
                </tr>
            </thead>
            <tbody>
                <!-- Записи будут добавляться динамически с помощью JavaScript -->
            </tbody>
        </table>
        <button id="applyChanges" class="btn btn-success">Применить изменения</button>
    </div>

    <!-- Модальное окно для редактирования ФИО -->
    <div class="modal" tabindex="-1" id="textEditorModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать ФИО</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="form-control m-2" type="date" id="date-start">
                    <input type="number" id="length_time" class="form-control m-2" placeholder='Количество дней'>
                    <input class="form-control m-2" type="date" id="date-end">
                    <div id='meta'></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="saveTextEditor">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
