{% extends "user/profile/profile_base.html" %}

{% block list %}
    <div class="container p-4">
        <div class="row h3">
            {% include 'user/messages.html' %}
        </div>
        
        <div class="row h3">
            Личные данные
        </div>
        <div class="row h3">
            {% include 'user/profile/settings/change_password.html' %}
        </div>
        
        {% if user_groups == 'Несуществует' %}
            <div class="row h3">
                {% include 'user/profile/settings/change_initials.html' %}
            </div>
        {% endif %}
      
        {% if 'Администратор' in user_groups  %}
            <div class="row h3">
                Компания
            </div>
            <div class="row h3">
                {% include 'user/profile/settings/change_company.html' %}
            </div>
        {% endif %}
        
    </div>
{% endblock %} 


