<div class="content">
    <div class="slider single-item mb-4">
      <div style="height: 390px">
        <div class="text-center chart_4_sort" style="position: absolute; top: 0%; left: 6%;"></div>
        <canvas id="fourChart" width="800" height="400"></canvas>
      </div>

      {% comment %} <div style="height: 400px">
        <canvas id="fiveChart" width="800" height="400"></canvas>
      </div> {% endcomment %}
      <div style="height: 390px">
        
        <div class="text-center chart_1_sort" style="position: absolute; top: 48%; left: 8%;"></div>
        <canvas id="oneChart" width="800" height="400"></canvas>
    </div>

       <div style="height: 400px">
        <canvas id="threeChart" width="800" height="400"></canvas>
      </div>
      
       <div style="height: 400px">
        <canvas id="twoChart" width="800" height="400"></canvas>
      </div>
     

    </div>
  </div>