{% load crispy_forms_tags %}
<form method="post" action="{% url 'table:addnew' %}">
  {% csrf_token %}
  {{ form.media.js }}

  <div class="modal-header">
    <h3 class="modal-title">Редактировать продажу</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  

  <div class="modal-body">
      <div class="{% if form.non_field_errors %} alert alert-warning invalid{% endif %} mb-2">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
      </div>

      <div class="form-row">
          <div class="form-group col-md-6 mb-0">
              {{ form.office|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.post|as_crispy_field }}
          </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.human|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-6 mb-0">
              {{ form.reason|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
              {{ form.comment|as_crispy_field }}
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-4 mb-0">
              {{ form.date_start|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
              {{ form.length_time|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
              {{ form.date_end|as_crispy_field }}
          </div>
      </div>
      <div id='meta'></div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
    <input type="submit" class="btn btn-primary" value="Применить" />
  </div>

</form>

<script>
  $('#id_office, #id_post, #id_fleet, #id_human, #id_shift, #id_reason').attr('data-live-search', 'true');  
  $('#id_office, #id_post, #id_fleet, #id_human, #id_shift, #id_reason').selectpicker({ 
    noneResultsText:'   Результатов нет',
   }); 

  var office = ''
  var post = ''
  var human = ''
  $('#id_office, #id_post, #id_human').change(function () {
    $.ajax({                      
      url: 'ajax/load_ajax_form',                 
      data: {
        'click': $(this).attr("id"),
        'id_office': $("#id_office").val(),  
        'id_post': $("#id_post").val(), 
        'id_human': $("#id_human").val(),
      },
      success: function (data) {  
        if (typeof data.id_post != 'undefined')
        {
            $('#id_post option').each(function () { 
              if (jQuery.inArray( parseInt($(this).val()),  data.id_post )!= -1 || $(this).val() == '')
              {
                $(this).show()
                if (data.id_post.length == 1) {
                  $(this).prop('selected', true);
                }
              } else {
                $(this).hide()
              }
            }); 
            $('#id_post').selectpicker('refresh');           
        }
        

       if (typeof data.id_office != 'undefined')
        {
            $('#id_office option').each(function () { 
              if (jQuery.inArray( parseInt($(this).val()), data.id_office )!= -1 || $(this).val() == '')
              {
                $(this).show()
                if (data.id_office.length == 1) {
                  $(this).prop('selected', true);
                }
              } else {
                $(this).hide()
              }
            });  
            $('#id_office').selectpicker('refresh');            
        }

        if (typeof data.id_human  != 'undefined')
        {
            $('#id_human option').each(function () { 
              if (jQuery.inArray( parseInt($(this).val()), data.id_human )!= -1 || $(this).val() == '')
              {
                $(this).show()
                if (data.id_human.length == 1) {
                  $(this).prop('selected', true);
                }
              } else {
                $(this).hide()
              }
            });      
            $('#id_human').selectpicker('refresh');      
        }
        
      }
    });
  });

  $('#id_length_time, #id_date_start, #id_date_end').change(function () {
    $('#meta').addClass('alert alert-warning h6')
    $('#meta').text('Если вычислены все 3 поля для даты, и нужно заново найти значение какого-нибудь из полей, сделайте значения нескольких полей для дат ПУСТЫМИ')
    if ($(this).val() != '')
    {
      if ($('#id_date_start').val() != '' && $('#id_length_time').val() != '')
      {
        //нужно найти id_date_end      
        $('#id_date_end').val(moment( $('#id_date_start').val(), 'YYYY-MM-DD').add(parseInt($('#id_length_time').val()), 'days').subtract(1, 'days').format('YYYY-MM-DD'));
      }
      else if ($('#id_date_start').val() != '' && $('#id_date_end').val() != '')
      {
        var startDate = moment($('#id_date_start').val(), 'YYYY-MM-DD');
        var endDate = moment($('#id_date_end').val(), 'YYYY-MM-DD');
        var dayDifference = endDate.diff(startDate, 'days');

        if (dayDifference > 0) {
          // Если разница положительна, добавляем один день
          dayDifference += 1;
        } else if (dayDifference < 0) {
          // Если разница отрицательна, отнимаем один день
          dayDifference -= 1;
        }

        $('#id_length_time').val(dayDifference);
      }
      else if ($('#id_date_end').val() != '' && $('#id_length_time').val() != '')
      {
        //нужно найти id_date_start
        $('#id_date_start').val(moment( $('#id_date_end').val(), 'YYYY-MM-DD').subtract(parseInt($('#id_length_time').val()), 'days').add(1, 'days').format('YYYY-MM-DD'));
      }
    }
  });
</script>