{% extends "timetable/models/model_base.html" %}
{% load tgo_tags %}

{% block list %}
   <span class="h3">Комплектация ВС</span>
   <div class="mt-2">
      
      <a class="btn btn-outline-primary" href={{prev_url}}>Назад</a>
      <span id="dt_resetFilter" class="btn btn-warning text-dark">Сбросить фильтры</span>
      {% if request.user.is_superuser %}
         {% add_button_text 'timetable:add_equipmentAirplane' %}
      {% endif %}
   </div>
   <hr>
   <table class="table rounded-lgn table_dt col-12 bg-white" style="width:100%">
      <thead> 
      <tr>
         <th>Воздушное судно</th>
         <th>Комплектация</th>
         <th>Количетсво мест</th>
         {% if request.user.is_superuser %}
            <th></th>
            <th></th>
         {% endif %}
      </tr>
   </thead>
   <tbody>
      {% for eq in EquipmentAirplane %}  
         <tr>
            <td>{{ eq.fleet }}</td>
            <td>{{ eq.equipment }}</td>
            <td>{{ eq.seats }}</td>
            {% if request.user.is_superuser %}
               <td>
                     {% edit_button 'timetable:edit_equipmentAirplane' eq.id %}
               </td>
               <td>
                     {% del_button 'timetable:delete_equipmentAirplane' eq.id %}
               </td>
            {% endif %}
         </tr>     
      {% endfor %}
   </tbody>
   <tfoot> 
      <tr>
         <th>Воздушное судно</th>
         <th>Комплектация</th>
         <th>Количетсво мест</th>
         {% if request.user.is_superuser %}
            <th></th>
            <th></th>
         {% endif %}
      </tr>
   </tfoot>
   </table>
{% endblock %} 
