<span{% if 1 in days_flight %} class="highspanghted custom-size"{% else %} class="not-highspanghted custom-size"{% endif %}>Пн</span>
<span{% if 2 in days_flight %} class="highspanghted custom-size"{% else %} class="not-highspanghted custom-size"{% endif %}>Вт</span>
<span{% if 3 in days_flight %} class="highspanghted custom-size"{% else %} class="not-highspanghted custom-size"{% endif %}>Ср</span>
<span{% if 4 in days_flight %} class="highspanghted custom-size"{% else %} class="not-highspanghted custom-size"{% endif %}>Чт</span>
<span{% if 5 in days_flight %} class="highspanghted custom-size"{% else %} class="not-highspanghted custom-size"{% endif %}>Пт</span>
<span{% if 6 in days_flight %} class="highspanghted custom-size"{% else %} class="not-highspanghted custom-size"{% endif %}>Сб</span>
<span{% if 7 in days_flight %} class="highspanghted custom-size"{% else %} class="not-highspanghted custom-size"{% endif %}>Вс</span>

